
@{
    ViewBag.Title = "inspection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- DataTables CSS -->
<link href="~/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="~/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/dist/css/sb-admin-2.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- /#wrapper -->
<!-- jQuery -->
<script src="~/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="~/vendor/metisMenu/metisMenu.min.js"></script>
<!-- DataTables JavaScript -->
<script src="~/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="~/vendor/datatables-responsive/dataTables.responsive.js"></script>
<!-- Custom Theme JavaScript -->
<script src="~/dist/js/sb-admin-2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/js/bootstrap-datepicker.js"></script>


<script>
    $(document).ready(function () {

        $('#CDate').datepicker({
        });

        $('#ComD').datepicker({
        });

        $('#ICreD').datepicker({
        });

        $('#ICloD').datepicker({
        });
        $('#InspectionStatusDropDown').change(function () {
            var selectedstatus = $('#InspectionStatusDropDown').find(':selected').val();
            $('#InspectionTable').DataTable().clear().destroy();
            $('#InspectionTable').DataTable().clear().destroy();
            $("#InspectionTable").DataTable({
                "lengthMenu": [[5, 25, 50, -1], [5, 25, 50, "All"]],
                responsive: true,
                "language": {
                    "search": "Filter records:"
                },
                "ajax": {
                    "url": "/Home/GetInspectionFilterData",
                    "type": "GET",
                    "datatype": "json",
                    "data": {
                        status: selectedstatus
                    }
                },
                "aoColumns": [
                    { "data": "ComponentInspectionsID",className: "hidden" },
                    { "data": "ComponentInspectionsName" },
                    { "data": "ComponentInspectionNotes" },
                    {
                        "mData": "ComponentInspectionsID",
                        "mRender": function (data, type, row) {
                            return '<input type="checkbox" name="selectcheckbox" value="' + data + '">Select me';
                        }
                    },
                    {
                        "mData": "ComponentInspectionsID",
                        "mRender": function (data, type, row) {
                            return '<a data-toggle="modal" data-target="#myDeleteInceptionModal" data-id="' +
                                data +
                                '" href="#myDeleteInceptionModal" id="deleteanchor">Delete</a>';
                        }
                    }
                ]

            });

        });

        $('#InspectionTable tbody').on('click', 'tr', function () {
            var values = $(this).children(":first").text();
            $('#InspectID').val(values);

            //Worker1
            $.ajax({
                url: '@Url.Action("ComboInspecStatus", "Home")',
                    method: 'GET',
                    datatype: 'json',
                    data: {
                        uid: values

                },
                success: function (data) {
                    $('#IStatusDropDown').empty();
                    $.each(data, function (key, value) {
                        $('#IStatusDropDown').append($('<option>', {
                            value: value,
                            text: value
                        }));

                    });
                }
            });

            //worker2
             $.ajax({
                url: '@Url.Action("ComboInspecPeriority", "Home")',
                    method: 'GET',
                    datatype: 'json',
                    data: {
                        uid: values

                },
                    success: function (data) {
                        $('#IPeriorityDropDown').empty();
                    $.each(data, function (key, value) {
                        $('#IPeriorityDropDown').append($('<option>', {
                            value: value,
                            text: value
                        }));

                    });
                }
            });

            //worker3
             $.ajax({
                url: '@Url.Action("ComboInspectionComponentName", "Home")',
                    method: 'GET',
                    datatype: 'json',
                    data: {
                        uid: values

                    },
                    success: function (data) {
                        $('#CompoNameDropDown').empty();
                        $.each(data, function (key, value) {
                            $('#CompoNameDropDown').append($('<option>', {
                                value: value,
                                text: value
                            }));

                        });
                    }
             });

            //worker4
             $.ajax({
                url: '@Url.Action("ComboInspectionCampus", "Home")',
                    method: 'GET',
                    datatype: 'json',
                    data: {
                        uid: values

                },
                    success: function (data) {
                        $('#CampuNameDropDown').empty();
                        $.each(data, function (key, value) {
                            $('#CampuNameDropDown').append($('<option>', {
                                value: value,
                                text: value
                            }));

                        });
                    }
             });

            //worker 5
             $.ajax({
                url: '@Url.Action("ComboInspectionBuilding", "Home")',
                    method: 'GET',
                    datatype: 'json',
                    data: {
                        uid: values

                },
                    success: function (data) {
                        $('#BuildingNameDropDown').empty();
                        $.each(data, function (key, value) {
                            $('#BuildingNameDropDown').append($('<option>', {
                                value: value,
                                text: value
                            }));

                        });
                    }
             });


             //worker 6
             $.ajax({
                url: '@Url.Action("ComboInspectionFloor", "Home")',
                    method: 'GET',
                    datatype: 'json',
                    data: {
                        uid: values

                },
                    success: function (data) {
                        $('#FloorNameDropDown').empty();
                        $.each(data, function (key, value) {
                            $('#FloorNameDropDown').append($('<option>', {
                                value: value,
                                text: value
                            }));

                        });
                    }
             });

             //worker 7
             $.ajax({
                url: '@Url.Action("ComboInspectionRoom", "Home")',
                    method: 'GET',
                    datatype: 'json',
                    data: {
                        uid: values

                },
                    success: function (data) {
                        $('#RoomNameDropDown').empty();
                        $.each(data, function (key, value) {
                            $('#RoomNameDropDown').append($('<option>', {
                                value: value,
                                text: value
                            }));

                        });
                    }
            });

            //worker 8
             $.ajax({
                url: '@Url.Action("GeneralWorker", "Home")',
                    method: 'GET',
                    datatype: 'json',
                    data: {
                        uid: values

                },
                    success: function (data) {
                        $('#CID').val(data.componentID);
                        $('#LOCID').val(data.LocationID);

                    }
             });

             //worker 9
             $.ajax({
                url: '@Url.Action("AttributeData", "Home")',
                    method: 'GET',
                    datatype: 'json',
                    data: {
                        uid: values

                },
                    success: function (data) {
                        $('#DICreated').val(data.creationDate);
                        $('#DIClosed').val(data.ClosedDate);
                        $('#InspectNote').val(data.inspectionNote);
                        $('#WOName').val(data.workOrderName);
                    }
             });

            //worker 10
               $.ajax({
                url: '@Url.Action("TreatmentCombo", "Home")',
                    method: 'GET',
                    datatype: 'json',
                    data: {
                        uid: values

                },
                    success: function (data) {
                        $('#Treat').empty();
                        $.each(data, function (key, value) {
                            $('#Treat').append($('<option>', {
                                value: value,
                                text: value
                            }));

                        });
                    }
             });

              //worker 11
               $.ajax({
                url: '@Url.Action("ConditionCombo", "Home")',
                    method: 'GET',
                    datatype: 'json',
                    data: {
                        uid: values

                },
                    success: function (data) {
                        $('#Cond').empty();
                        $.each(data, function (key, value) {
                            $('#Cond').append($('<option>', {
                                value: value,
                                text: value
                            }));

                        });
                    }
               });

              //worker 12
               $.ajax({
                url: '@Url.Action("ApperenceCombo", "Home")',
                    method: 'GET',
                    datatype: 'json',
                    data: {
                        uid: values

                },
                    success: function (data) {
                        $('#Apper').empty();
                        $.each(data, function (key, value) {
                            $('#Apper').append($('<option>', {
                                value: value,
                                text: value
                            }));

                        });
                    }
               });

              //worker 13
             $.ajax({
                url: '@Url.Action("PerformaceData", "Home")',
                    method: 'GET',
                    datatype: 'json',
                    data: {
                        uid: values

                },
                    success: function (data) {
                        $('#LInspecDate').val(data.creationDate);
                        $('#DCCHangedRecord ').val(data.ChangeDate );
                    }
               });

              //worker 14
             $.ajax({
                url: '@Url.Action("FinanceData", "Home")',
                    method: 'GET',
                    datatype: 'json',
                    data: {
                        uid: values

                },
                    success: function (data) {
                        $('#treatmentbox').val(data.treatement);
                        $('#DSize').val(data.Dim);
                        $('#EstMaterialCost').val(data.EstMatCost);
                        $('#EstLabourCost').val(data.estLabourCost);
                        $('#TEstCost').val(data.estTotalCost);
                    }
             });

        });

        $('#ExistingAddworkOrderModelButton').click(function () {
            var selectedWO = $('#ExistingWODropDown').find(':selected').val();
            var checked = new Array();
            $('input[type=checkbox]:checked').map(function (i, e) {
                checked.push($(e).val());
            });
            $.ajax({
                url: '/Home/AddtoExisting',
                method: 'post',
                dataType: 'json',
                data: {
                    values: checked,
                    WOID: selectedWO
                },
                success: function (data) {
                    alert(data.Result);
                }

            });

        });
        $('#AddworkOrderModelButton').click(function () {
            var checked = null;
            $('input[type=checkbox]:checked').map(function (i, e) {
                checked = $(e).val();
            });
            $.ajax({
                url: '/Home/AddtoNewWorkOrder',
                method: 'post',
                dataType: 'json',
                data: {
                    values: checked,
                    WOName: $('#IName').val(),
                    WDsic: $('textarea[name="IDsic"]').val(),
                    wStatus: $('#WOStatus').val(),
                    IComD: $('#CDate').val(),
                    ICloD: $('#ComD').val(),
                    WOEstCost: $('#WOESC').val(),
                    WOActCost: $('#WOAC').val(),
                    DecP: $('#DP').val(),
                    TWOEstCost: $('#TWOEstCost').val(),
                    WOPer: $('#WOP').val()
                },
                success: function (data) {
                    alert(data.Result);
                }

            });

        });
        $('#inceptiondeleteyes').click(function () {
            var id = $('a[href="#myDeleteInceptionModal"]').data('id');
            $.ajax({
                url: '/Home/DeleteInception',
                method: 'post',
                dataType: 'json',
                data: {
                    uid: id
                }
            });
            $('#myDeleteInceptionModal').modal('hide');
        });
    $('#AddInceptionModelButton').click(function () {
            $.ajax({
                url: '/Home/CreateInception',
                method: 'post',
                dataType: 'json',
                data: {
                    IName: $('#IName').val(),
                    IDsic: $('textarea[name="IDsic"]').val(),
                    INote: $('#INote').val(),
                    ICreD: $('#ICreD').val(),
                    ICloD: $('#ICloD').val(),
                    tName: $('#tName').val(),
                    CName: $('#CName').val(),
                    SName: $('#SName').val(),
                    IPeriority: $('#IPeriority').val(),
                    IStaus: $('#IStaus').val(),
                    WOrder: $('#WOrder').val()

                },

                success: function (data) {
                    if (data.k === 1) {
                        alert('Inception Added');
                    } else {
                        alert('Inception Added Failed');
                    }
                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                }
            });

        });
    });
</script>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Inspection</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="InspectionStatusDropDown">Inspection Status</label>
                    @Html.DropDownList("Istatus", ViewData["Istatus"] as SelectList, "Select Staus", new { id = "InspectionStatusDropDown", @class = "form-control" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Inspections Data
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" id="divcheck">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="InspectionTable">
                        <thead>
                            <tr>
                                <th class="hidden">Inspection ID</th>
                                <th>Inspection Name</th>
                                <th>Inspection Note</th>
                                <th>Select ME</th>
                                <th>Delete Inspection</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="form-group">
                <button type="button" class="btn btn-success" id="AddWork" data-toggle="modal" data-target="#AddworkorderModel">Add to New Work Order</button>
                <br />
                <br />
                <button type="button" class="btn btn-success" id="AddtoExistingOrder" data-toggle="modal" data-target="#ExistingworkorderModel">Add to Existing Work Order</button>
                <br />
                <br />
                <button class="btn btn-success" type="button" id="AddInception" data-toggle="modal" data-target="#AddInceptionModel">Add New Inspection</button>
            </div>
        </div>
    </div>
</div>
<div class="row" id="InspectionDetails">
    <div class="col-lg-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Inspection details</div>
            <div class="panel-body">
                <form>
                    <div class="form-group hidden">
                        <label for="InspectID">Inspection Id:</label>
                        <input type="text" class="form-control" id="InspectID">
                    </div><div class="form-group">
                        <label for="IStatusDropDown">Inspection Status:</label>
                        <select id="IStatusDropDown" class="form-control">
                            <option value="-1">Chose Your Option</option>
                        </select>

                    </div><div class="form-group">
                        <label for="IPeriorityDropDown">Inspection priority:</label>
                        <select id="IPeriorityDropDown" class="form-control">
                            <option value="-1">Chose Your Option</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-danger">
            <div class="panel-heading">Components Details:</div>
            <div class="panel-body">
                <form>
                    <div class="form-group hidden">
                        <label for="CID">Components iD:</label>
                        <input type="text" class="form-control" id="CID">
                    </div>
                    <div class="form-group">
                        <label for="CompoNameDropDown">Components Name:</label>
                        <select id="CompoNameDropDown" class="form-control">
                            <option value="-1">Chose Your Option</option>
                        </select>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Location Details:</div>
            <div class="panel-body">
                <div class="col-md-6">
                    <form>
                        <div class="form-group hidden">
                            <label for="LOCID">Location iD:</label>
                            <input type="text" class="form-control" id="LOCID">
                        </div>
                        <div class="form-group">
                            <label for="CampuNameDropDown">Campus Name:</label>
                            <select id="CampuNameDropDown" class="form-control">
                                <option value="-1">Chose Your Option</option>
                            </select>
                        </div> <div class="form-group">
                            <label for="BuildingNameDropDown">Building Name:</label>
                            <select id="BuildingNameDropDown" class="form-control">
                                <option value="-1">Chose Your Option</option>
                            </select>
                        </div>
                    </form>
                </div> <!--col md 6 yaha pe ye khatam bencho-->
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label for="FloorNameDropDown">Floor  Name:</label>
                            <select id="FloorNameDropDown" class="form-control">
                                <option value="-1">Chose Your Option</option>
                            </select>
                        </div> <div class="form-group">
                            <label for="RoomNameDropDown">Room Name:</label>
                            <select id="RoomNameDropDown" class="form-control">
                                <option value="-1">Chose Your Option</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#Attribute">Attribute</a></li>
            <li><a data-toggle="tab" href="#Performance">Performance</a></li>
            <li><a data-toggle="tab" href="#Finance">Finance</a></li>

        </ul>

        <div class="tab-content">
            <div id="Attribute" class="tab-pane fade in active">
                <h3>Attribute</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="DICreated">Date Inspection Created</label>
                            <input type="text" class="form-control" id="DICreated">
                        </div>
                        <div class="form-group">
                            <label for="InspectedBy">Inspected By</label>
                            <select id="InspectedBy" class="form-control">
                                <option value="-1">Chose Your Option</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="InspectNote">Inspection Note</label>
                            <input type="text" class="form-control" id="InspectNote">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="DIClosed">Date Inspection Closed</label>
                            <input type="text" class="form-control" id="DIClosed">
                        </div>
                        <div class="form-group">
                            <label for="Treat">Treatment</label>
                            <select id="Treat" class="form-control">
                                <option value="-1">Chose Your Option</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="WOName">Work Order Name</label>
                            <input type="text" class="form-control" id="WOName">
                        </div>
                    </div>
                </div>
            </div>
            <div id="Performance" class="tab-pane fade">
                <h3>Performance</h3>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="Cond">Condition</label>
                        <select id="Cond" class="form-control">
                            <option value="-1">Chose Your Option</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Apper">Appearence</label>
                        <select id="Apper" class="form-control">
                            <option value="-1">Chose Your Option</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="LInspecDate">Latest Inspected Date</label>
                        <input type="text" class="form-control" id="LInspecDate">
                    </div>
                    <div class="form-group">
                        <label for="DCCHangedRecord">Date Condition Change Record</label>
                        <input type="text" class="form-control" id="DCCHangedRecord">
                    </div>
                </div>
            </div>
            <div id="Finance" class="tab-pane fade">
                <h3>Finance</h3>
                <div class="col-lg-6">
                    <form>
                        <div class="form-group">
                            <label for="treatmentbox">Treatment:</label>
                            <input type="text" class="form-control" id="treatmentbox">
                        </div>
                        <div class="form-group">
                            <label for="DSize">Dimension size:</label>
                            <input type="text" class="form-control" id="DSize">
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <form>
                        <div class="form-group">
                            <label for="EstMaterialCost">Est Material Cost:</label>
                            <input type="text" class="form-control" id="EstMaterialCost">
                        </div>
                        <div class="form-group">
                            <label for="EstLabourCost">Est Labour Cost:</label>
                            <input type="text" class="form-control" id="EstLabourCost">
                        </div>
                        <div class="form-group">
                            <label for="TEstCost"><strong>Total Est Cost:</strong></label>
                            <input type="text" class="form-control" id="TEstCost">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>

<div class="modal fade" id="myDeleteInceptionModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>You are about to delete.</p>
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="inceptiondeleteyes">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddworkorderModel" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new Inspection</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="IName">Work Order Name</label>
                    <input type="text" class="form-control" id="IName">
                </div>
                <div class="form-group">
                    <label for="IDsic">Work Order Discription</label>
                    <textarea rows="2" class="form-control" id="IDsic" name="IDsic"></textarea>
                </div><div class="form-group">
                    <label for="WOStatus">work order Status</label>
                    <input type="text" class="form-control" id="WOStatus">
                </div>
                <div class="form-group">
                    <label for="CDate">Commenced Date</label>
                    <input type="text" class="form-control" id="CDate">
                </div><div class="form-group">
                    <label for="ComD">Completion Date</label>
                    <input type="text" class="form-control" id="ComD">
                </div>
                <div class="form-group">
                    <label for="WOESC">Work Order Est Cost</label>
                    <input type="text" class="form-control" id="WOESC">
                </div>
                <div class="form-group">
                    <label for="WOAC">Work Order Actual Cost</label>
                    <input type="text" class="form-control" id="WOAC">
                </div>
                <div class="form-group">
                    <label for="DP">Decanting Percent</label>
                    <input type="text" class="form-control" id="DP">
                </div>
                <div class="form-group">
                    <label for="TWOEstCost">Total Work Order Est Cost</label>
                    <input type="text" class="form-control" id="TWOEstCost">
                </div>
                <div class="form-group">
                    <label for="WOP">Work order Perioerty</label>
                    <input type="text" class="form-control" id="WOP">
                </div>
                <button type="submit" class="btn btn-default" id="AddworkOrderModelButton">Add</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ExistingworkorderModel" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Existing new Inspection</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="IName">Existing Order Name</label>
                    @Html.DropDownList("ExisitngWON", ViewData["ExisitngWON"] as SelectList, "Select Work Order", new { id = "ExistingWODropDown", @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-default" id="ExistingAddworkOrderModelButton">Add</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AddInceptionModel" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new Inspection</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="IName">Inspection Name</label>
                    <input type="text" class="form-control" id="IName">
                </div>
                <div class="form-group">
                    <label for="IDsic">Inspection Discription</label>
                    <textarea rows="2" class="form-control" id="IDsic" name="IDsic"></textarea>
                </div><div class="form-group">
                    <label for="INote">Inspection Note</label>
                    <input type="text" class="form-control" id="INote">
                </div>
                <div class="form-group">
                    <label for="ICreD">Inspection creation Date</label>
                    <input type="text" class="form-control" id="ICreD">
                </div><div class="form-group">
                    <label for="ICloD">Inspection Closing Date</label>
                    <input type="text" class="form-control" id="ICloD">
                </div>
                <div class="form-group">
                    <label for="tName">Treatment Name</label>
                    <input type="text" class="form-control" id="tName">
                </div>
                <div class="form-group">
                    <label for="CName">component Name</label>
                    <input type="text" class="form-control" id="CName">
                </div>
                <div class="form-group">
                    <label for="SName">Staff Name</label>
                    <input type="text" class="form-control" id="SName">
                </div>
                <div class="form-group">
                    <label for="IPeriority">Inspection perioerity</label>
                    <input type="text" class="form-control" id="IPeriority">
                </div>
                <div class="form-group">
                    <label for="IStaus">Inspection status</label>
                    <input type="text" class="form-control" id="IStaus">
                </div>
                <div class="form-group">
                    <label for="WOrder">Work Order</label>
                    <input type="text" class="form-control" id="WOrder">
                </div>
                <button type="submit" class="btn btn-default" id="AddInceptionModelButton">Add</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>